/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px rgb(70, 69, 69);
          box-shadow: 0 0 10px rgb(70, 69, 69);
  background: #1B3764;
}
header nav .headerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .logo img {
  width: 150px;
  cursor: pointer;
  margin: 8px 0;
}
header nav ul li {
  display: inline-block;
  padding: 0 15px;
}
header nav ul li a {
  color: #FFFFFF;
}
header nav ul li a:hover {
  color: #FFCA42;
}
@media (max-width: 1000px) {
  header nav ul li {
    display: none;
  }
  header nav ul a {
    display: none;
  }
}

.icons {
  width: 200px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.icons i {
  color: rgb(199, 197, 197);
}
.icons i:hover {
  cursor: pointer;
  scale: 1.2;
  color: #FFCA42;
}
.icons .fa-bars {
  display: none;
}
@media (max-width: 1000px) {
  .icons .fa-bars {
    display: inline-block;
  }
}

@media (max-width: 260px) {
  nav {
    padding-top: 40px;
    padding-right: 15px;
  }
  nav .logo img {
    display: none;
  }
}
@media (max-width: 150px) {
  .s-1 {
    height: 1070px;
  }
}
.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 12px;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav .logo .sakontaqto1 {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .logo .sakontaqto1 div {
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border: none;
}
nav .logo .sakontaqto1 div .fbicon i {
  color: #1B3764;
}

.eine {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.eine .eine-img img {
  max-width: 550px;
  width: 100%;
}

.ein-wrap {
  width: 100%;
  height: 700px;
  background-color: #1B3764;
}

.eine-tags {
  width: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eine-tags h1 {
  color: #FFF;
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  font-style: normal;
  font-weight: 100;
  line-height: 110%; /* 71.5px */
  letter-spacing: -1.3px;
  margin-bottom: 30px;
}
.eine-tags h1 span {
  color: #FFCA42;
}
.eine-tags h3 {
  font-size: 27px;
  line-height: 35px;
  color: #faf8f4;
  font-family: "Cardo", serif;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 950px) {
  .eine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec1 .ein-wrap {
    height: 700px;
  }
}
@media (max-width: 450px) {
  nav .logo .sakontaqto1 {
    display: none;
  }
  .eine-tags h1 {
    font-size: 22px;
  }
  .eine-tags h3 {
    font-size: 18px;
  }
}
.eine1 {
  width: 80%;
  height: 470px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eine1-tag {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eine1-tag h3 {
  font-size: 39px;
  margin-top: 20px;
}

.eine1-img img {
  max-width: 150px;
  width: 100%;
}
.eine1-img img {
  height: 220px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.eine1-img img:hover {
  cursor: pointer;
  scale: 1.1;
}

.eine1-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 12px;
}
.eine1-info h2 {
  color: #0b0c0c;
  font-size: 15px;
  font-weight: 700;
}
.eine1-info h2, .eine1-info h3, .eine1-info h4 {
  line-height: 24px;
}
.eine1-info h3, .eine1-info h4 {
  color: #1B3764;
  font-weight: 700;
  font-size: 16px;
}
.eine1-info h3 span, .eine1-info h4 span {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: 600;
}
.eine1-info h4 {
  color: #1B3764;
  font-weight: 800;
}

.sec2 {
  width: 100%;
  height: 600px;
  background: #F4F8FF;
}
.sec2 .wrapperall {
  width: 88%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sec2 .wrapperall .wrap-img {
  max-width: 600px;
  width: 100%;
}
.sec2 .wrapperall .wrap-img img {
  max-width: 550px;
  width: 100%;
}
.sec2 .wrapperall .wrap-text {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec2 .wrapperall .wrap-text h2 {
  font-size: 40px;
}
.sec2 .wrapperall .wrap-text h3 {
  max-width: 500px;
  width: 100%;
  font-size: 17px;
  line-height: 23px;
}

.yviteli {
  width: 50px;
  height: 3px;
  background-color: #FFCA42;
  margin-top: 10px;
  margin-bottom: 12px;
}

.feris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1246px) {
  .sec2 {
    height: 900px;
  }
  .wrap-text {
    margin: 0 auto;
  }
  .wrap-img {
    margin: 0 auto;
    padding-bottom: 70px;
  }
}
.ferisi {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.yvitelia {
  width: 60px;
  height: 2px;
  background-color: #FFCA42;
  margin-top: 5px;
}

@media (max-width: 338px) {
  .sec2 {
    height: 1100px;
  }
}
@media (max-width: 235px) {
  .sec2 {
    height: 1250px;
  }
}
@media (max-width: 206px) {
  .sec2 {
    height: 1580px;
  }
}
@media (max-width: 1125px) {
  .sec3 {
    height: 900px;
  }
}
@media (max-width: 572px) {
  .sec3 {
    height: 1100px;
  }
}
@media (max-width: 391px) {
  .sec3 {
    height: 1990px;
  }
  .sec3 .eine1-img {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 205px) {
  .sec3 {
    height: 2200px;
  }
}
@media (max-width: 170px) {
  .sec2 {
    height: 1700px;
  }
}
.thema {
  width: 100%;
  background-color: #1B3764;
}

.main {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main-texts {
  max-width: 620px;
  height: 720px;
  margin-top: 240px;
}
.main .main-texts h2 {
  color: #FFF;
  font-family: Cardo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 154.5%; /* 37.08px */
  letter-spacing: -0.48px;
}
.main .main-texts h3 {
  color: #FFF;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}
.main .main-texts h4 {
  color: #B4C7E7;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  margin-top: 32px;
}
.main .main-img {
  height: 700px;
  padding-top: 190px;
}
.main .main-img img {
  width: 550px;
}

.btn {
  max-width: 300px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.btn button {
  background-color: #FFCA42;
  height: 54px;
  width: 144px;
  color: #1B3764;
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
  cursor: pointer;
}
.btn button:hover {
  border: 1px solid #FFCA42;
  background: #FFF;
}
.btn h5 {
  width: 140px;
  margin-top: 17px;
  color: #FFF;
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.38px;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
}

@media (max-width: 900px) {
  .s-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-1 .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 1000px;
    position: relative;
  }
  .s-1 .main-texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .s-1 .main-img {
    padding-top: 0;
    padding: 0 auto;
  }
  .s-1 .main-img img {
    padding: 0 auto;
  }
}
@media (max-width: 625px) {
  .main .main-texts {
    width: 80%;
  }
  .main .main-img img {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .main-texts h3 {
    font-size: 16px;
  }
}
@media (max-width: 280px) {
  .main-texts {
    padding-top: 10px;
  }
}
@media (max-width: 400px) {
  .btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .btn button {
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  .main .main-texts h3 {
    font-size: 35px;
  }
}
@media (max-width: 200px) {
  .btn button, .btn h5 {
    width: 100px;
  }
  .main .main-texts h3 {
    font-size: 20px;
  }
  .main .main-texts {
    padding-top: 90px;
  }
}
@media (max-width: 260px) {
  .main-img {
    margin-top: 150px;
  }
}
@media (max-width: 150px) {
  .main-img img {
    display: none;
  }
}
.s-2 {
  width: 100%;
  height: 600px;
  background: #FFF;
}

.meore {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
}

.book1, .book2 {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}
.book1 img, .book2 img {
  width: 200px;
}
.book1 .txt1, .book2 .txt1 {
  max-width: 200px;
  padding-top: 40px;
  padding-left: 20px;
}
.book1 .txt1 h4, .book2 .txt1 h4 {
  margin-top: 14px;
  font-family: "Cardo", serif;
  font-weight: 200;
  line-height: 20px;
  font-size: 15px;
}
.book1 .txt1 h3, .book2 .txt1 h3 {
  color: #1B3764;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
}

.lett {
  width: 100%;
  margin-top: 145px;
}
.lett h3 {
  color: #1B3764;
  text-align: center;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}

.circles {
  max-width: 110px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
.circles .c1, .circles .c2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFCA42;
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  -ms-border-radius: 50;
  -o-border-radius: 50;
}
.circles .c1 h5, .circles .c2 h5 {
  padding-left: 20px;
}

.inf {
  margin-top: 10px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .meore {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-2 {
    height: auto;
  }
}
@media (max-width: 460px) {
  .meore .book1, .meore .book2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .meore .book1, .meore .book2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .meore .circles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 250px) {
  .book1 img, .book2 img {
    width: 60%;
  }
  .book1 .txt1 h4, .book1 .txt1 h3, .book2 .txt1 h4, .book2 .txt1 h3 {
    font-size: 15px;
    width: 80%;
  }
  .circles, .inf {
    display: none;
  }
}
.tarigs {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.yvit {
  width: 2px;
  height: 110px;
  background: #FFCA42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 {
  width: 100%;
  height: 650px;
  background: #F4F8FF;
}
.section3 .author-img img {
  width: 300px;
}
.section3 .author-info {
  max-width: 500px;
  height: auto;
  margin-top: 60px;
}
.section3 .author-info h3 {
  color: #1B3764;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  margin-bottom: 30px;
}
.section3 .author-info h4 {
  color: #969AA0;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}

.yvela {
  max-width: 80%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 580px) {
  .section3 {
    height: 800px;
  }
}
@media (max-width: 1016px) {
  .author-img {
    margin-top: 60px;
  }
  .section3 {
    height: 1200px;
  }
}
@media (max-width: 330px) {
  .yvela .author .author-img img {
    width: 95%;
  }
}
@media (max-width: 304px) {
  .section3 {
    height: 150px;
  }
}
@media (max-width: 351px) {
  .yvit {
    display: none;
  }
  .t1 {
    margin: 0 auto;
  }
  .section3 {
    height: 1400px;
  }
}
@media (max-width: 304px) {
  .s-3 {
    height: 1430px;
  }
}
@media (max-width: 317px) {
  .author-info h3 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 467px) {
  .section3 {
    height: 1500px;
  }
}
.futer {
  width: 100%;
  height: auto;
  background: #1B3764;
}

.informacia {
  width: 90%;
  height: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.informacia .contacti {
  margin-top: 60px;
}
.informacia .contacti .cimg img {
  width: 130px;
  margin-bottom: 30px;
}

.sakontaqto, .sakontaqto1 {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sakontaqto div, .sakontaqto1 div {
  width: 40px;
  height: 44px;
  background-color: #1B3764;
  border: 1px solid #FFCA42;
}
.sakontaqto div i, .sakontaqto1 div i {
  color: #FFFFFF;
}
.sakontaqto .fbicon, .sakontaqto1 .fbicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
}
.pi h3 {
  color: #FFF;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
.pi a {
  color: #B4C7E7;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 205%; /* 36.9px */
  letter-spacing: -0.18px;
}

.pirv {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.pirv .pi3 {
  width: 230px;
}
.pirv .pi3 span {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
  margin-right: 8px;
}

@media (max-width: 870px) {
  .pirv {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .futer {
    height: 800px;
  }
}
@media (max-width: 575px) {
  .informacia {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 290px) {
  .pirv {
    display: inline-block;
    text-align: center;
  }
  .futer {
    height: 1200px;
  }
}
@media (max-width: 245px) {
  .sakontaqto {
    width: 90%;
  }
}
@media (max-width: 260px) {
  .pirv .pi3 {
    width: 92%;
  }
  .futer {
    height: 1400px;
  }
}
.s-4 .meotxe {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  margin-top: 60px;
}
.s-4 .section4 {
  width: 100%;
  height: 450px;
  background: #FFF;
}
.s-4 .section4 .flexboxes {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}
.s-4 .section4 .sataur h2 {
  color: #1B3764;
  text-align: center;
  font-family: "Cardo", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.9px;
  margin-bottom: 13px;
}

.wrap1-img .fot {
  width: 189px;
  height: 88px;
  margin-bottom: 12px;
}
.wrap1-img img {
  max-width: 100px;
  height: 100px;
}

.wrap1 {
  width: 240px;
  height: 300px;
  text-align: center;
}
.wrap1 .wrap-tags {
  margin-top: 12px;
}
.wrap1 .wrap-tags h2 {
  color: #1B3764;
  text-align: center;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
}
.wrap1 .wrap-tags h3 {
  margin-top: 15px;
  color: #969AA0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
}

@media (max-width: 1199px) {
  .s-4 {
    height: 1000px;
  }
}
@media (max-width: 616px) {
  .s-4 {
    height: 1500px;
  }
}
@media (max-width: 230px) {
  .s-4 {
    height: 1470px;
  }
  .section5 .tog-tag h2 {
    margin-top: 80px;
    width: 100%;
    font-size: 29px;
  }
}
@media (max-width: 179px) {
  .wrap1 {
    margin-bottom: 70px;
  }
  .s-4 {
    height: 1730px;
  }
}
.tog-tag {
  max-width: 567px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tog-tag h2 {
  color: #FFF;
  font-family: "Cardo", serif;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}
.tog-tag h3 {
  margin-top: 10px;
  color: #B4C7E7;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}
.tog-tag .btn {
  margin-top: 30px;
}
.tog-tag .btn button {
  border: 1px solid #FFCA42;
  background-color: #1B3764;
  color: #FFFFFF;
  color: #FFF;
  text-align: center;
  font-family: "Caro", serif;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
}

.yviteli {
  width: 45px;
  height: 2px;
  background-color: #FFCA42;
}

.sectoion5 {
  background-color: #1B3764;
  width: 100%;
  height: 400px;
}

.together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.together img {
  max-width: 640px;
  width: 100%;
  height: 427px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section5 {
  width: 100%;
  height: 450px;
  background-color: #1B3764;
}

@media (max-width: 755px) {
  .together {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section5 {
    height: 900px;
  }
  .img-div img {
    width: 100%;
  }
}
@media (max-width: 260px) {
  .img-div {
    margin-top: 160px;
    height: 100px;
  }
  .img-div img {
    height: 200px;
  }
}
@media (max-width: 290px) {
  .together .tog-tag h2 {
    font-size: 25px;
  }
}
.s-6 {
  width: 100%;
  height: 700px;
  background: #FFF;
}

.mexute {
  width: 80%;
  height: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mexute .imgi img {
  max-width: 400px;
  width: 100%;
}

.satauri {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.satauri h2 {
  color: #1B3764;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.yellow {
  width: 200px;
  height: 200px;
  background-color: #F4F8FF;
}
.yellow .yellowcircle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #FFCA42;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
.yellow .yellowcircle .yvitlis-tag {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meoretag {
  width: 150px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.meoretag h3 {
  max-width: 110px;
  width: 100%;
  margin-top: 20px;
}

.yveela {
  max-width: 450px;
  width: 100%;
  height: 450px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yellowline {
  width: 60px;
  height: 2px;
  background-color: #FFCA42;
}

@media (max-width: 826px) {
  .s-6 {
    height: 1100px;
  }
  .mexute {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 516px) {
  .imgi {
    margin-top: 450px;
    width: 300px;
  }
  .s-6 {
    height: 1440px;
  }
  .yellow {
    margin-bottom: 20px;
  }
}
@media (max-width: 300px) {
  .s-6 {
    height: 1350px;
  }
}
.swrapper {
  width: 100%;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F4F8FF;
}
.swrapper h2 {
  margin-top: 20px;
  color: #1B3764;
  text-align: center;
  font-family: "Cardo", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}

.section7 {
  width: 100%;
  height: 750px;
  background-color: #F4F8FF;
  margin: 0 auto;
}

.s-7divs {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.s-7wrap {
  max-width: 840px;
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.circle-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFCA42;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.allcircle {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.allcircle .circle-1tag {
  margin-left: 10px;
}
.allcircle .circle-1tag h4 {
  color: #969AA0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  font-size: 17px;
}
.allcircle .circle-1tag h4 span {
  color: #1B3764;
  font-weight: 700;
}

.div1-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div1 {
  max-width: 400px;
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div1-tags {
  max-width: 350px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.div1-tags h2 {
  color: #1B3764;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}
.div1-tags h3 {
  color: #969AA0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}

@media (max-width: 846px) {
  .s-7wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div1 {
    margin-bottom: 20px;
  }
  .section7 {
    height: 1200px;
  }
}
@media (max-width: 440px) {
  .div1 {
    width: 90%;
  }
}
@media (max-width: 380px) {
  .div1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
    height: 220px;
  }
  .section7 {
    height: 1500px;
  }
}
@media (max-width: 235px) {
  .swrapper h2 {
    margin-bottom: 35px;
  }
}
@media (max-width: 258px) {
  .section7 {
    height: 1700px;
  }
  .div1 {
    height: 270px;
  }
  .circle-1 {
    display: none;
  }
}
@media (max-width: 197px) {
  .section7 {
    height: 2220px;
  }
  .div1 {
    height: 390px;
  }
}
.Free {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Free .trail {
  max-width: 364px;
  width: 100%;
  height: 70px;
  background-color: #FFCA42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1B3764;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
}

.trail-tag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trail-tag h3 {
  max-width: 250px;
  margin-top: 15px;
  color: #969AA0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.trail-tag h3 span {
  color: #1B3764;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  text-decoration-line: underline;
  cursor: pointer;
}

.section8 {
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
.section8 .s-8tag {
  max-width: 1250px;
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section8 .s-8tag h2 {
  color: #1B3764;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}

.divi-1img {
  width: 100px;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.divi-1img img {
  width: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 35px;
}

.divi-1tag h3 {
  color: white;
  font-family: "Inter", sans-serif;
}

.divi-2tag {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.divi-2tag h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}
.divi-2tag h3 {
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.yvelarva {
  max-width: 970px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.merve {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}
.merve .div-1 {
  max-width: 300px;
  width: 100%;
  height: 300px;
  background-color: #1B3764;
}

.rating-circle1 {
  border-radius: 50px;
  border-right-color: #FFCA42;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFCA42;
  border-left-color: #FFFFFF;
  border-width: 6px;
  border-style: solid;
  rotate: 135deg;
  height: 0px;
  width: 0px;
}

.rating-circle {
  border-radius: 50px;
  border-color: #FFCA42;
  border-width: 6px;
  border-style: solid;
  rotate: 135deg;
  height: 0px;
  width: 0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.rating {
  max-width: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}

@media (max-width: 916px) {
  .div-1 {
    margin-bottom: 10px;
  }
  .section8 {
    height: 900px;
  }
}
@media (max-width: 917px) {
  .yvelarva {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 667px) {
  .section8 {
    height: 1200px;
  }
  .yvelarva {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 350px) {
  .section8 .s-8tag h2 {
    font-size: 38px;
    font-family: "Inconsolata", monospace;
  }
}
.pirveliseqciis {
  width: 100%;
  height: 1300px;
  background: #FFF;
}

.se-1 {
  height: 200px;
}

.bookswrap {
  max-width: 250px;
  width: 100%;
  height: 350px;
  background-color: #F5F8FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bookswrap img {
  max-width: 180px;
  width: 100%;
  border: 12px solid #DBE1E9;
  background: #F5F8FC;
  -webkit-box-shadow: 0px 20px 25px 0px rgba(4, 11, 20, 0.08);
          box-shadow: 0px 20px 25px 0px rgba(4, 11, 20, 0.08);
  -webkit-transition: 2s linear;
  transition: 2s linear;
  -webkit-transition: 2s ease;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
}
.bookswrap img:hover {
  cursor: pointer;
  scale: 1.1;
}

.wrapp {
  max-width: 250px;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapp h4 {
  color: #969AA0;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}

.wraptext {
  max-width: 250px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wraptext h2 {
  color: #1B3764;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
}
.wraptext h3 {
  color: #FFCA42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 39.6px */
  letter-spacing: -0.22;
}

.yvelawrap {
  width: 70%;
  height: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cir {
  width: 15px;
  height: 15px;
  background-color: #FFCA42;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.circledatext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orive2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttoni1 button {
  border: 1px solid #FFCA42;
  max-width: 130px;
  width: 100%;
  height: 45px;
  color: #1B3764;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
  cursor: pointer;
}

@media (max-width: 1070px) {
  .pirveliseqciis {
    height: 1900px;
  }
}
@media (max-width: 714px) {
  .pirveliseqciis {
    height: 3700px;
  }
}
@media (max-width: 233px) {
  .wraptext {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .wraptext h3 {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .se-1 .kotaqtis .ertad .tag h2 {
    font-size: 112px;
  }
}
.yvelaferi {
  width: 90%;
  height: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yvelaferi .blogebiertad img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 350px;
  width: 100%;
  cursor: pointer;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
}
.yvelaferi .blogebiertad img:hover {
  scale: 1.1;
}

.c-1 {
  height: 200px;
}

.s2eqcia {
  width: 100%;
  height: 1300px;
  background-color: #F5F8FC;
}

.underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.underline h3 {
  text-decoration: underline;
  color: #1B3764;
  text-align: center;
  font-family: Cardo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
  cursor: pointer;
}

.blogebiertad {
  max-width: 350px;
  height: 500px;
  background: #FFF;
  -webkit-box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
          box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blog1-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog1-tag h2 {
  color: #1B3764;
  font-family: Cardo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}
.blog1-tag h3 {
  color: #969AA0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}

@media (max-width: 1165px) {
  .yvelaferi {
    height: 1700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s2eqcia {
    height: 1800px;
  }
}
@media (max-width: 779px) {
  .yvelaferi {
    padding-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
  .s2eqcia {
    height: 3500px;
  }
}
.mecxre {
  width: 100%;
  height: 450px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mecxre .mecxresi {
  max-width: 250px;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  border: 4px solid #1B3764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}
.mecxre h2 {
  font-size: 20px;
  color: #1B3764;
  font-weight: 700;
}
.mecxre h3 {
  font-size: 17px;
  color: #7a7676;
}

.aiqoni {
  max-width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aiqoni i {
  color: #FFCA42;
}

@media (max-width: 516px) {
  .mecxre {
    height: 690px;
  }
}
@media (max-width: 190px) {
  .mecresi {
    height: 20px;
  }
}
.mecresi {
  transition: 2s linear;
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
}

.mecxresi:hover {
  scale: 1.1;
}

.login {
  background: url(../login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.foto input {
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  background: none;
}
.foto label {
  color: #fff;
  font-size: 18px;
}

.background {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.background button {
  max-width: 250px;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 251, 255);
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.ukana {
  max-width: 300px;
  width: 100%;
  height: 400px;
  border: 2px solid rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: aliceblue;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.ukana h2 {
  font-size: 30px;
  color: #fff;
}
.ukana h4 {
  color: #fff;
}
.ukana h4 span {
  font-size: 18px;
  cursor: pointer;
}

.foto1 {
  max-width: 300px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foto1 h3 {
  color: #fff;
  margin-left: 5px;
}

.forgot {
  margin-left: 20px;
}
.forgot h4 {
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.se-1 {
  max-height: 300px;
}

.kontaqtis {
  width: 100%;
  height: 300px;
  background-color: #1B3764;
}
.kontaqtis .tag {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.kontaqtis .tag h2 {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 55px */
  letter-spacing: -1px;
}

.secti-2 {
  width: 100%;
  height: 650px;
  background-color: #FFF;
}

.sak1 {
  min-width: 50px;
  height: 50px;
  background-color: #1B3764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sak1 i {
  color: #FFCA42;
}

.sakontaqtostvis {
  max-width: 600px;
  width: 100%;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.eseni {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input1 {
  max-width: 520px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.input1 input {
  max-width: 250px;
  width: 100%;
  height: 55px;
  border-color: red;
  padding-left: 15px;
  color: #969AA0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  border: 1px solid #DCE1E9;
  background: #FFF;
}

.sak2 {
  max-width: 280px;
  width: 100%;
  margin-left: 14px;
}

.textebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone input {
  max-width: 520px;
  width: 100%;
  height: 55px;
  border-color: red;
  padding-left: 15px;
  color: #969AA0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  border: 1px solid #DCE1E9;
  background: #FFF;
}

textarea {
  max-width: 520px;
  width: 100%;
  height: 200px;
  resize: none;
  padding-left: 15px;
  color: #969AA0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  padding-top: 10px;
  border: 1px solid #DCE1E9;
  background: #FFF;
}

form {
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.s2-tags {
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s2-tags h2 {
  color: #1B3764;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}
.s2-tags h3 {
  color: #969AA0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}

.sect-2 {
  width: 100%;
  height: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formdiv {
  max-width: 550px;
  width: 100%;
}

.check {
  max-width: 470px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check input {
  border-color: red;
  width: 25px;
  height: 25px;
}

.send button {
  background-color: #FFCA42;
  max-width: 520px;
  width: 100%;
  height: 55px;
  color: #1B3764;
  font-family: "Caro", serif;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
  cursor: pointer;
}

@media (max-width: 516px) {
  form {
    max-width: 250px;
    width: 100%;
    height: 550px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
  }
  .input1 {
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 936px) {
  .secti-2 {
    height: 1100px;
  }
}
@media (max-width: 359px) {
  .secti-2 {
    height: 1200px;
  }
}
@media (max-width: 187px) {
  .secti-2 {
    height: 1350px;
  }
}
@media (max-width: 430px) {
  .kontaqtis .tag h2 {
    font-size: 35px;
  }
}
@media (max-width: 936px) {
  .s2-tags {
    margin-top: 40px;
  }
  .s2-tags h2 {
    font-size: 30px;
    text-align: center;
  }
  .yviteli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=global.css.map */