/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  margin: 0 auto;
}
header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px rgb(70, 69, 69);
          box-shadow: 0 0 10px rgb(70, 69, 69);
  background: #1B3764;
}
header nav .logo img {
  width: 150px;
  cursor: pointer;
  margin: 8px 0;
}
header nav ul li {
  display: inline-block;
  padding: 0 15px;
}
header nav ul li a {
  color: #FFFFFF;
}
header nav ul li a:hover {
  color: rgb(29, 128, 194);
}
@media (max-width: 1000px) {
  header nav ul li {
    display: none;
  }
}

.icons {
  width: 200px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.icons i {
  color: rgb(199, 197, 197);
}
.icons i:hover {
  cursor: pointer;
  scale: 1.2;
  color: #FFCA42;
}
.icons .fa-bars {
  display: none;
}
@media (max-width: 1000px) {
  .icons .fa-bars {
    display: inline-block;
  }
}

@media (max-width: 260px) {
  nav {
    padding-top: 40px;
    padding-right: 15px;
  }
  nav .logo img {
    display: none;
  }
}
.main {
  width: 100%;
  height: 760px;
  background-color: #1B3764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .main-texts {
  max-width: 620px;
  height: 720px;
  margin-top: 150px;
}
.main .main-texts h2 {
  color: #FFF;
  font-family: Cardo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 154.5%; /* 37.08px */
  letter-spacing: -0.48px;
}
.main .main-texts h3 {
  color: #FFF;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}
.main .main-texts h4 {
  color: #B4C7E7;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  margin-top: 32px;
}
.main .main-img {
  height: 700px;
  padding-top: 190px;
}
.main .main-img img {
  width: 550px;
}

.btn {
  max-width: 300px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.btn button {
  background-color: #FFCA42;
  height: 54px;
  width: 144px;
  color: #1B3764;
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 23.75px */
  letter-spacing: 0.38px;
  cursor: pointer;
}
.btn h5 {
  width: 140px;
  margin-top: 17px;
  color: #FFF;
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.38px;
  border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 900px) {
  .s-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-1 .main {
    display: block;
    height: 1000px;
    position: relative;
  }
  .s-1 .main-texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .s-1 .main-img {
    padding-top: 0;
    padding: 0 auto;
  }
  .s-1 .main-img img {
    padding: 0 auto;
  }
}
@media (max-width: 625px) {
  .main .main-texts {
    width: 80%;
  }
  .main .main-img img {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .main-texts h3 {
    font-size: 16px;
  }
}
@media (max-width: 280px) {
  .main-texts {
    padding-top: 10px;
  }
}
@media (max-width: 400px) {
  .btn {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
  }
  .btn button {
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  .main .main-texts h3 {
    font-size: 35px;
  }
}
@media (max-width: 260px) {
  .main-img {
    margin-top: 50px;
  }
}
@media (max-width: 260px) {
  .main-img {
    margin-top: 80px;
    width: 100%;
  }
}
@media (max-width: 162px) {
  .main-img {
    margin-top: 110px;
  }
}
@media (max-width: 187px) {
  .main-img {
    margin-top: 110px;
  }
}
@media (max-width: 187px) {
  .btn button, .btn h5 {
    width: 100px;
  }
  .main .main-texts h3 {
    font-size: 20px;
  }
}
.s-2 {
  width: 100%;
  height: 600px;
  background: #FFF;
}

.meore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.book1, .book2 {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}
.book1 img, .book2 img {
  width: 200px;
}
.book1 .txt1, .book2 .txt1 {
  width: 200px;
  padding-top: 40px;
  padding-left: 20px;
}
.book1 .txt1 h4, .book2 .txt1 h4 {
  margin-top: 14px;
}
.book1 .txt1 h3, .book2 .txt1 h3 {
  color: #1B3764;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.lett {
  width: 100%;
  margin-top: 145px;
}
.lett h3 {
  color: #1B3764;
  text-align: center;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
}

.circles {
  max-width: 110px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
.circles .c1, .circles .c2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFCA42;
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  -ms-border-radius: 50;
  -o-border-radius: 50;
}
.circles .c1 h5, .circles .c2 h5 {
  padding-left: 20px;
}

.inf {
  margin-top: 10px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 825px) {
  .meore {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  .meore .book1, .meore .book2 {
    display: block;
    text-align: center;
  }
}
@media (max-width: 230px) {
  .book1 img, .book2 img {
    width: 80%;
  }
}
.s-3 {
  width: 100%;
  height: 600px;
  background: #F4F8FF;
}/*# sourceMappingURL=global.css.map */