@mixin fontebi{
    color: #FFF;
    font-family: 'Cardo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
    margin-bottom: 24px;
}
@mixin spanebi{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    margin-right: 8px;
 }
 @mixin aebi{
    color: #B4C7E7;
    // font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%; /* 36.9px */
    letter-spacing: -0.18px;
 }
 @mixin font{
    color: #1B3764;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.24px;
 }
 @mixin eichsamebi{
   color: #1B3764;
    text-align: center;
    // font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.18px;    
 }
 @mixin john{
   color: #FFCA42;
   font-family: 'Cardo', serif;
font-family: 'Roboto Mono', monospace;
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%; /* 26.4px */
   letter-spacing: -0.44px;
 }
 @mixin mailto{
   color: #B4C7E7;
  //  font-family: Inter;
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: 180%; /* 34.2px */
   letter-spacing: -0.19px;
 }
 @mixin learn{
   color: #1B3764;
   text-align: center;
   font-family: 'Cardo', serif;
   font-family: 'Roboto Mono', monospace;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%; /* 54px */
   letter-spacing: -0.9px;
 }
 @mixin copy{
   color: #FFF;
   font-family: 'Cardo', serif;
   font-family: 'Roboto Mono', monospace;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%; /* 54px */
   letter-spacing: -0.9px;
 }
 @mixin order{
   color: #FFF;
   text-align: center;
   font-family: 'Caro', serif;
   font-family: 'Roboto Mono', monospace;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 125%; /* 23.75px */
   letter-spacing: 0.38px;
 }
 @mixin s-7{
color: #1B3764;
text-align: center;
font-family: 'Cardo', serif;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 54px */
letter-spacing: -0.9px;
 }
 @mixin chapter{
  color: #1B3764;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: -0.48px;
 }
 @mixin chap1{
  color: #969AA0;
// font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 34.2px */
letter-spacing: -0.19px;
 }
 @mixin trail{
  color: #1B3764;
text-align: center;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 23.75px */
letter-spacing: 0.38px;
 }
 @mixin trail2{
  color: #969AA0;
// font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
 }
@mixin trail3{
  color: #1B3764;
// font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 170%;
text-decoration-line: underline;
}
@mixin inputs{
  color: #969AA0;
// font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 34.2px */
letter-spacing: -0.19px;
}
@mixin news{
  color: #1B3764;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}
@mixin news1{
  color: #969AA0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
}
@mixin news2{
  color: #1B3764;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 22.5px */
letter-spacing: 0.36px;
cursor: pointer;
}
@mixin demo{
  color: #1B3764;
text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 54px */
letter-spacing: -0.9px;
}
@mixin freec{
  color: #1B3764;
text-align: center;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 34.2px */
letter-spacing: -0.19px;
}
@mixin subscribe{
  color: #FFF;
text-align: center;
font-family: Cardo;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 23.75px */
letter-spacing: 0.38px;
}