/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  margin: 0 auto;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px rgb(70, 69, 69);
  background: #1B3764;
}
header nav .logo img {
  width: 150px;
  cursor: pointer;
  margin: 8px 0;
}
header nav ul li {
  display: inline-block;
  padding: 0 15px;
}
header nav ul li a {
  color: #b4b4b2;
}
header nav ul li a:hover {
  color: rgb(29, 128, 194);
}
@media (max-width: 1000px) {
  header nav ul li {
    display: none;
  }
}

.icons {
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icons i {
  color: rgb(199, 197, 197);
}
.icons i:hover {
  cursor: pointer;
  scale: 1.2;
  color: #FFCA42;
}
.icons .fa-bars {
  display: none;
}
@media (max-width: 1000px) {
  .icons .fa-bars {
    display: inline-block;
  }
}

.fotk {
  width: 100%;
  height: 550px;
  display: flex;
  background-color: rgb(235, 233, 233);
}
.fotk img {
  width: 70%;
  height: 350px;
  margin-top: 100px;
}

.inf {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.inf h2 {
  font-size: 32px;
  font-family: "Cardo", serif;
  margin-bottom: 50px;
}
.inf h2 span {
  color: #FFCA42;
}
@media (max-width: 690px) {
  .inf h2 {
    padding-top: 0px;
    align-items: center;
  }
}
.inf h3 {
  font-size: 20px;
  color: #3b3525;
}
.inf .click h4 {
  width: 140px;
  height: 55px;
  border: 2px solid rgb(68, 66, 66);
  background-color: #FFCA42;
  margin-top: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: beige;
}

@media (max-width: 1040px) {
  .fotk img {
    width: 50%;
  }
}
@media (max-width: 690px) {
  .fotk img {
    width: 100px;
    padding-top: 190px;
    margin-top: 200px;
    margin-left: 90px;
  }
  .inf {
    margin-right: 150px;
  }
}/*# sourceMappingURL=global.css.map */