.yvelaferi{
    width: 90%;
    height: 1300px;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .blogebiertad{
        img{
            object-fit: cover;
            max-width: 350px;
            width: 100%;
            cursor: pointer;
            transition: 1s ease-out;
            -webkit-transition: 1s ease-out;
            -moz-transition: 1s ease-out;
            -ms-transition: 1s ease-out;
            -o-transition: 1s ease-out;
}
        img:hover{
            scale: 1.1;
        }
    }
}
.c-1{
    height: 200px;
}
.s2eqcia{
    width: 100%;
    height: 1300px;
    background-color: #F5F8FC;
}
.underline{
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    flex-wrap: wrap;
    h3{
        text-decoration: underline;
        color: #1B3764;
        text-align: center;
        font-family: Cardo;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 22.5px */
        letter-spacing: 0.36px;
        cursor: pointer;
    }
}
.blogebiertad{
    max-width: 350px;
    height: 500px;
    background: #FFF;
    box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.blog1-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
    min-height: 110px;
    justify-content: space-between;
    h2{
        color: #1B3764;
font-family: Cardo;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: -0.48px;
    }
    h3{
        color: #969AA0;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 34.2px */
letter-spacing: -0.19px;
    }
}
@media(max-width:1165px){
    .yvelaferi{
        height: 1700px;
        align-items: center;
   }
   .s2eqcia{
    height: 1800px;
   }
} 
@media(max-width:779px){
    .yvelaferi{
        padding-top: 60px;
        // height: 2100px;
        justify-content: center;
        // align-items: center;
        gap: 60px;
   }
   .s2eqcia{
    height: 3500px;
   }
}
