.se-1{
    max-height: 200px;
}
.kontaqtis{
    width: 100%;
    min-height: 300px;
    background-color: #1B3764;
    .tag{
        width: 100%;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h2{
            color: #FFF;
            text-align: center;
            // font-family: Cardo;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 55px */
            letter-spacing: -1px;
        }
    }
}
.secti-2{
    width: 100%;
    min-height: 650px;
    background-color: #FFF;
}
.sak1{
    min-width: 50px;
    min-height: 50px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        color: #FFCA42;
    }
}
.sakontaqtostvis{
    max-width: 600px;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.eseni{
    max-width: 350px;
    display: flex;
    align-items: center;
}
.input1{
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input{
        max-width: 250px;
        width: 100%;
        height: 55px;
        border-color: red;
        padding-left: 15px;
        @include inputs;
        border: 1px solid #DCE1E9;
        background: #FFF;
    }
}
.sak2{
    max-width: 280px;
    width: 100%;
    margin-left: 14px;
}
.textebi{
    display: flex;
}
.phone{
    input{
        max-width: 520px;
        width: 100%;
        height: 55px;
        border-color: red;
        padding-left: 15px;
        @include inputs;
        border: 1px solid #DCE1E9;
background: #FFF;
    }
}
textarea{
    max-width: 520px;
    width: 100%;
    height: 200px;
    resize: none;
    padding-left: 15px;
    @include inputs;
    padding-top: 10px;
    border: 1px solid #DCE1E9;
    background: #FFF;
}
form{
    min-height: 460px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
}
.s2-tags{
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    h2{
        color: #1B3764;
        font-family: Cardo;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 54px */
        letter-spacing: -0.9px;
    }
    h3{
        color: #969AA0;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 34.2px */
        letter-spacing: -0.19px;
    }
}
.sect-2{
    width: 100%;
    min-height: 550px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.formdiv{
    max-width: 550px;
    width: 100%;
}
.check{
    max-width: 470px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    input{
  border-color: red;
  width: 25px;
  height: 25px;
}
}
.send{
    button{
        background-color: #FFCA42;
        max-width: 520px;
        width: 100%;
        height: 55px;
        color: #1B3764;
        font-family: 'Caro', serif;
        text-align: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 23.75px */
        letter-spacing: 0.38px;
        cursor: pointer;
    }
    button:hover{
        border: 1px solid #FFCA42;
        background: #FFF;
    }
}
@media(max-width:516px){
    form{
        max-width: 250px;
        width: 100%;
        height: 550px;
        justify-content: space-between;
        margin:  0 auto;
        padding-top: 50px;
    }
    .input1{
        height: 150px;
        align-items: center;
    }
}
@media(max-width:430px){
    .kontaqtis{
        .tag{
            h2{
                font-size: 35px;
            }
        }
    }
}
@media(max-width:936px){
    .s2-tags{
        margin-top: 40px;
        h2{
            font-size: 30px;
            text-align: center;
        }
    }
    .yviteli{
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .secti-2{
        padding-bottom: 60px;
    }
}