.futer{
    width: 100%;
    height: auto;
    background: #1B3764;
}
.informacia{
    width: 90%;
    min-height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .contacti{
        margin-top: 60px;
        .cimg{
            img{
                width: 130px;
                margin-bottom: 30px;
            }
        }       
}
}
.sakontaqto, .sakontaqto1{
    width: 220px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    div{
        width: 40px;
        height: 44px;
        background-color: #1B3764;
        border: 1px solid #FFCA42;
        i{
            color: #FFFFFF;
        }
    }
    .fbicon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.pi{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    h3{
         @include fontebi;
        }
    a{
        @include aebi
    }
}
.pirv{
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .pi3{
        width: 230px;
        span{
            @include spanebi
        }
    }
}
@media(max-width: 870px){
    .pirv{
        flex-wrap: wrap;
    }
}
@media(max-width: 575px){
    .informacia{
        flex-wrap: wrap;
    }
}
@media(max-width: 290px){
    .pirv{
        display: inline-block;
        text-align: center;
    }
}
@media(max-width: 245px){
    .sakontaqto{
        width: 90%;
    }
}
@media(max-width: 260px){
    .pirv{
        .pi3{
            width: 92%;
        }
    }
}
@media(max-width: 280px){
    .pi{
        h3{
            font-size: 20px;
        }
    }
}

