// navigacoa
nav{
    .logo{
        .sakontaqto1{
            max-width: 160px;
            display: flex;
            justify-content: space-around;
            div{
                width: 35px;
                height: 35px;
                background-color: #FFFFFF;
                border: none;
                .fbicon{
                    i{
                        color: #1B3764;
                    }
                }
            }
        }
    }
}
// pirveli seqcia
.eine{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // flex-wrap: wrap;
    .eine-img{
        img{
            max-width: 550px;
            width: 100%;
        }
    }
}
.ein-wrap{
    width: 100%;
    height: 700px;
    background-color:#1B3764;
}
.eine-tags{
    width: 400px;
    // height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        color: #FFF;
        font-family: 'Roboto Mono', monospace;
        font-size: 45px;
        font-style: normal;
        font-weight: 100;
        line-height: 110%; /* 71.5px */
        letter-spacing: -1.3px;
        margin-bottom: 30px;
        span{
            color: #FFCA42;
        }
    }
    h3{
        font-size: 27px;
        line-height: 35px;
        color: #faf8f4;
        font-family: 'Cardo', serif;
font-family: 'Roboto Mono', monospace;
    }
}
@media(max-width:950px){
    .eine{
        flex-wrap: wrap;
    }
    .sec1{
        .ein-wrap{
            height: 700px;
            padding: 0 13px;
        }
    }
}
@media(max-width:450px){
   nav{
    .logo{
        .sakontaqto1{
            display: none;
        }
    }
   }
   .eine-tags{
    h1{
        font-size: 22px;
    }
    h3{
        font-size: 18px;
    }
   }
}
// pirveli seqcia
.eine1{
    width: 80%;
    height: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // .eine1-img{
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;
    //     border: 1px solid red;
    //     img{
    //         max-width: 150px;
    //     }
    // }
}
.eine1-tag{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-size:39px;
        margin-top: 20px;
        font-weight: 500;
        color:#1B3764;
        font-family: 'Mate SC', serif;
    }
}
.eine1-img{ 
    img{
        max-width: 150px;
        width: 100%;
    }
        img{
            height: 220px;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            -moz-transition: 0.5s ease;
            -ms-transition: 0.5s ease;
            -o-transition: 0.5s ease;
}
        img:hover{
            cursor: pointer;
            scale: (1.1);
        }
}
.eine1-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12px;
    h2{
        font-size: 15px;
        font-weight: 600;
        color: #080808;
        font-family: 'Work Sans', sans-serif;
    }
    h2,h3,h4{
        line-height: 24px;
    }

    h3,h4{
        color:#1B3764;
        font-weight: 700;
        font-size: 16px;
        span{
            color: #0c0c0c;
            font-size: 18px;
            font-weight: 600;
        }
    }
    h4{
        color:#1B3764;
        font-weight: 800;
    }
}

// meore seqcia

.sec2{
    width: 100%;
    height: 600px;
    background: #F4F8FF;
    .wrapperall{
        width: 88%;
        height: 600px;
        display: flex;
        margin:  0 auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .wrap-img{
            max-width: 600px;
            width: 100%;
            img{
              max-width: 550px;
                width: 100%;
            }
        }
        .wrap-text{
            max-width: 400px;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h2{
              font-size: 40px;
              font-weight: 500;
            //   font-family: 'Roboto Mono', monospace;
            font-family: 'Mate SC', serif;
             color:#1B3764;
              
            }
            h3{
                max-width: 500px;
                width: 100%;
                font-size: 17px;
                line-height: 23px;
                font-family: 'Work Sans', sans-serif;
            }
        }
    }
}
.yviteli{
    width: 50px;
    height: 3px;
    background-color: #FFCA42;
    margin-top: 10px;
    margin-bottom: 12px;
}
.feris{
    display: flex;
    width: 250px;
    justify-content: center;
}
@media(max-width:1246px){
    .sec2{
        height: 900px;
    }
    .wrap-text{
        margin: 0 auto;
    }
    .wrap-img{
        margin: 0 auto;
        padding-bottom: 70px;
    }
}
// ferebi

.ferisi{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.yvitelia{
    width: 60px;
    height: 2px;
    background-color:#FFCA42;
    margin-top: 5px;
}
// mediebi responsivi

@media(max-width:338px){
    .sec2{
        height: 1100px;
    }
}
@media(max-width:271px){
    .sec2{
        height: 1250px;
    }
}
@media(max-width:215px){
    .sec2{
        height: 1580px;
    }
}
@media(max-width:1125px){
    .sec3{
        height: 900px;
    }
}
@media(max-width:584px){
  .sec3{
    height: 1100px;
  }
}
@media(max-width:391px){
    .sec3{
      height: 1990px;
    }
    .sec3{
        .eine1-img{
            width: 100%;
            text-align: center;
        }
    }
  }
  @media(max-width:205px){
    .sec3{
        height: 2200px;
    }
  }
  @media(max-width:173px){
    .sec2{
        height: 1700px;
    }
  }
  @media(max-width:158px){
    .sec2{
        height: 1850px;
    }
  }

  @media(max-width:430px){
    .eine1-tag{
        h3{
            font-family: 'Rajdhani', sans-serif;
        }
    }
    .wrap-text{
        h2{
            font-family: 'Rajdhani', sans-serif;
        }
    }
  }