.foto{
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    input{
        max-width: 250px;
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        background: none;
    }
    label{
        color: #000000;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
    }
}
.myprofile{
    width: 100%;
    min-height: 120px;
    background-color: #fad26e;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 50px;
    }
}
.background{
    button{
        max-width: 250px;
        width: 100%;
        min-height: 50px;
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        color: #000000;
        font-weight: 700;
        cursor: pointer;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        transition: 1s ease-in all;
        -webkit-transition: 1s ease-in all;
        -moz-transition: 1s ease-in all;
        -ms-transition: 1s ease-in all;
        -o-transition: 1s ease-in all;
}
        button:hover{
            background-color: #FFCA42;
            scale: (1.1);
        }
}

    .ukana{
    max-width: 300px;
    width: 100%;
    min-height: 550px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    background: transparent;
    backdrop-filter: blur(20px);
    h2{
        font-size: 35px;
        color: hsl(45, 2%, 42%);
        font-weight: 400;
        font-family: 'Katibeh', cursive;
    }
    h4{
        text-decoration: underline;
        color: #000000;
        font-size: 18px;
        cursor: pointer;
        span{
            font-size: 18px;
        }
    }
}
.foto1{
    max-width: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    h3{
        color: #000000;
        margin-left: 5px;
    }
}
.forgot{
    margin-left: 20px;
    h4{
        color: #000000;
        font-size: 17px;
        cursor: pointer;
    }
}
.ertadert{
    width: 70%;
    margin:  0 auto;
    display: flex;
    min-height: 700px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:874px){
    .ertadert{
        gap: 46px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}
@media(max-width:400px){
.foto{
    padding: 0 20px;
}
.foto1{
    padding: 0 20px;
    gap: 8px;
}
.ukana{
    button{
        width: 70%;
        padding: 0 20px;
        font-size: 15px;
    }
    h4{
        padding: 0 20px;
        text-align: center;
    }
}
.myprofile{
    h1{
        font-size: 39px;
        font-family: 'Katibeh', cursive;
    }
}
}
@media(max-width:311px){
    .ukana{
        h2{
            text-align: center;
            font-size: 27px;
        }
    }
}
