.s-4{
    .meotxe{
        width: 80%;
        // height: 80px;
        margin: 0 auto;
        margin-top: 60px;
        }
    .section4{
        width: 100%;
        min-height: 450px;
        background: #FFF;
        .flexboxes{
            width: 100%;
            min-height: 200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 80px;
        }
        .sataur{
            h2{
                color: #1B3764;
                text-align: center;
                font-family: 'Cardo', serif;
                font-size: 45px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -0.9px;
                margin-bottom: 13px;
                // margin: 0 auto;
            }
        }
    }
}
.wrap1-img{
.fot{
    width: 189px;
    height: 88px;
    margin-bottom: 12px;
}
img{
    max-width: 100px;
    height: 100px;
}
}
.wrap1{
    width: 240px;
    min-height: 300px;
   text-align: center;
   .wrap-tags{
    margin-top: 12px;
    h2{
        @include font
    }
    h3{
        margin-top: 15px;
        @include eichsamebi;
        font-family: 'Xanh Mono', monospace;
    }
   }
}
 @media(max-width:230px){
    .section5{
        .tog-tag{
            h2{
                margin-top: 80px;
                width: 100%;
                font-size: 29px;
            }
        }
    }
 }
 @media(max-width: 179px){
    .wrap1{
        margin-bottom: 70px;
    }
 }
 @media(max-width:350px){
   .section4{
    .meotxe{
        .sataur{
            h2{
                font-size: 26px;
            }
        }
    }
   }
 }