.tog-tag{
    max-width: 567px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    h2{
        @include copy
    }
    h3{
        margin-top:10px;
        @include mailto
    }
    .btn{
        margin-top: 30px;
        button{
            border: 1px solid #FFCA42;
            background-color: #1B3764;
            color: #FFFFFF;
            @include order
        }
        button:hover{
            border: 1px solid #FFCA42;
            color: #1B3764;
            background-color: #FFFFFF;
        }
    }
}
.yviteli{
    width: 45px;
    height: 2px;
    background-color: #FFCA42;
}
.sectoion5{
    background-color: #1B3764;
    width: 100%;
    min-height: 400px;
}
.together{
    display: flex;
    // flex-wrap: wrap;
    width: 90%;
    min-height: 400px;
    margin: 0 auto;
    justify-content: space-around;
    
    img{
        max-width: 640px;
        width: 100%;
        min-height: 427px;
        object-fit: contain;
}
}
.section5{
    width: 100%;
    min-height: 450px;
    background-color: #1B3764;
}
@media(max-width:755px){
    .together{
        flex-wrap: wrap;
    }
    .img-div{
        img{
            width: 100%;
        }
    }
}
@media(max-width:290px){
    .together{
    .tog-tag{
        h2{
            font-size: 25px;
        }
    }
}
}
