.s-6{
    width: 100%;
    min-height: 700px;
    background: #FFF;
}
.mexute{
    width: 80%;
    min-height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .imgi{
        img{
            max-width: 400px;
            width: 100%;
        }
    }
}
.satauri{
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    h2{
        color: #1B3764;
         font-family: Cardo;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
    }
}
.yellow{
    width: 200px;
    min-height: 200px;
    background-color: #F4F8FF;
    .yellowcircle{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: #FFCA42;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        margin-top: 20px;
        margin-left: 20px;
        .yvitlis-tag{
            width: 30px;
            height: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
}
}
.meoretag{
    width: 150px;
    // width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        max-width: 110px;
        width: 100%;
        margin-top: 20px;
    }
}
.yveela{
    max-width: 450px;
    width: 100%;
    height: 450px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}
// line
.line{
    height: 30px;
    display: flex;
    align-items: center;
}
.yellowline{
    width: 60px;
    height: 2px;
    background-color: #FFCA42;
}
.mexute{
    flex-wrap: wrap;
    justify-content: center;
  }
@media(max-width:516px){
    .imgi{
        margin-top: 450px;
      width: 300px; 
}
.yellow{
    margin-bottom: 20px;
}
.satauri{
    h2{
        font-size: 29px;
    }
}
}
@media(max-width:1059px){
    .imgi{
        img{
         padding-top: 40px;
         padding-bottom: 40px;
        }
    }
}