.section8{
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
}
.rating-circle1{
    border-radius: 50px;
    border-right-color: #FFCA42;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFCA42;
    border-left-color: #FFFFFF;
    border-width: 10px;
    border-style: solid;
    rotate: 135deg;
    height: 0px;
    width: 0px;
}
.rating-circle{
    border-radius: 50px;
    border-color: #FFCA42;
    border-width: 10px;
    border-style: solid;
    rotate: 135deg;
    height: 0px;
    width: 0px;
}
.rating{
    max-width: 170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sect8{
    width: 90%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    .ertad8{
        max-width: 510px;
        width: 100%;
        height: 170px;
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.div3{
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    .divi1{
        width: 250px;
        height: 250px;
        background-color: rgb(46, 179, 28);
    }
}
.divi2{
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .divi1{
        width: 250px;
        height: 250px;
        background-color: rgb(187, 189, 187);
    }
}
.alldivs{
    max-width: 700px;
    width: 100%;
    // display: flex;
    justify-content: center;
    

}
