.section8{
    width: 100%;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    .s-8tag{
        max-width: 1250px;
        width: 100%;
        min-height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        h2{
            color: #1B3764;
            font-family: Cardo;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 54px */
            letter-spacing: -0.9px;
        }
    }
}
.divi-1img{
    width: 100px;
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
        width: 55px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 35px;

}
}
.divi-1tag{
    h3{
        color: white;
        font-family: 'Inter', sans-serif;
    }
}
.divi-2tag{
   max-width: 250px;
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
//    justify-content: center;
   margin: 0 auto;
    // margin-left: 45px;
    h2{
        margin-bottom: 10px;
        font-size: 23px;
        color: #FFCA42;
    }
    h3{
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        color: #d1cfcf;
        text-align: center;
        // font-family: 'Xanh Mono', monospace;
    }
}
.yvelarva{
    max-width: 970px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.merve{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    .div-1{
        max-width: 300px;
        width: 100%;
        min-height: 300px;
        background-color: #1B3764;
    }
}
// rating

.rating-circle1{
    border-radius: 50px;
    border-right-color: #FFCA42;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFCA42;
    border-left-color: #FFFFFF;
    border-width: 6px;
    border-style: solid;
    rotate: 135deg;
    height: 0px;
    width: 0px;
}
.rating-circle{
    border-radius: 50px;
    border-color: #FFCA42;
    border-width: 6px;
    border-style: solid;
    rotate: 135deg;
    height: 0px;
    width: 0px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.rating{
    max-width: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7px;
}
@media(max-width:916px){
    .div-1{
        margin-bottom: 10px;
    }
}
@media(max-width:917px){
    .yvelarva{
        justify-content: space-around;
    }
}
@media(max-width:667px){
    .yvelarva{
        justify-content: center;
    }
}
// @media(max-width:287px){
//     .line{
//         display: none;
//     }
// }
@media(max-width:350px){
 .section8{
    .s-8tag{
        h2{
            font-size: 38px;
            font-family: 'Inconsolata', monospace;
        }
    } 
 }  
}
@media(max-width:590px){
 .s-8{
    .section8{
        .s-8tag{
            h2{
             font-size: 29px;
            }
         }
    }
 }
}
