.s-2{
    width: 100%;
    height: 600px;
    background: #FFF;
}
.meore{
    width: 80%;
    display: flex;
    flex-wrap:nowrap;
    margin: 0 auto;
}
.book1, .book2{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    img{
        width: 200px;
    }
    .txt1{
        width: 200px;
        padding-top: 40px;
        padding-left: 20px;
        h4{
            margin-top: 14px;
        }
        h3{
            color: #1B3764;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
        }
    }
}
.lett{
    width: 100%;
    margin-top: 145px;
    h3{
        color: #1B3764;
        text-align: center;
        font-family: Cardo;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 54px */
        letter-spacing: -0.9px;
    }
}
.circles{
    max-width: 110px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    .c1, .c2{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #FFCA42;
        -webkit-border-radius: 50;
        -moz-border-radius: 50;
        -ms-border-radius: 50;
        -o-border-radius: 50;
   h5{
    padding-left: 20px;
   }
}
}
.inf{
    margin-top: 10px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 900px){
    .meore{
        flex-wrap: wrap;
    }
    .s-2{
        height: auto;
    }
}
@media(max-width: 460px){
    .meore{
        .book1, .book2{
            // display: block;
            flex-wrap: wrap;
            text-align: center;
        }
    }
    .meore{
        .book1, .book2{
         justify-content: center;
        }
        .circles{
         flex-wrap: wrap;
        }
     }
}
@media(max-width: 250px){
    .book1, .book2{
        img{
            width: 60%;
            // padding-right: 80px;
        }
        .txt1{
            h4, h3{
                font-size: 15px;
                width: 80%;
            }
        }
    }
    .circles, .inf{
        display: none;
    }
}
.tarigs{
        width: 100%;
        // height: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20px;

}
.yvit{
    width: 2px;
    height: 110px;
    background: #FFCA42;
    display: flex;
    align-items: center;
}
